* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
    background: #B7C7FF;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #1C3BAD;
    color: #fff;
    padding-top: 16px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header h1 {
    font-size: 50px;
    font-style: italic;
    font-family: "Currier New";
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #4169FA;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li:not(:last-child) {
    margin-right: 26px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.hamburguer {
    width: 32px;
    cursor: pointer;
}

.hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-abrigo img {
    max-width: 300px;
    margin-right: 24px;
}

#sobre-abrigo h2 {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

#sobre-abrigo p {
    font-size: 18px;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 14px;
}

.lista-adocao {
    flex-wrap: wrap;
}

.lista-adocao li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-adocao li img {
    max-width: 100%;
}

.lista-adocao li h3 {
    margin: 6px 0;
}

.lista-adocao p {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 50%;
    border: none;
    padding: 6px;
    background-color: #119750;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

footer li {
    list-style: none;
    margin-left: 16px;
    display: inline-block;
}

footer li img {
    height: 32px;
}

@media screen and (max-width: 640px) {
    header h1 {
        font-size: 26px; /*tamanho do título */
        margin-left: 16px; /*margem do título */
    }
    
    header > .container,
    footer > .container {
    padding-bottom: 8px; /*tamanho a baixo da caixa de fundo do título*/
    }

    .container {
        width: 95%;
    }

    .hamburguer {
        width: 16px; /*comprimento hamburger */
    }
    
    .hamburguer span {
        margin-bottom: 5px; /* margem entre os hamburguers */
    }    

    nav {
        padding: 6px 0; /*tamanho do spam */
        }

    nav li {
        margin-left: 14px; /*margem da esquerda do span */
        font-size: 10px; /*tamanho fonte spam */
    }

    #sobre-abrigo img {
        margin-left: 2px;  /*margem da figura do site */
        margin-right: 4px;   /*ajuste da margem direita para a figura */
    }

    #sobre-abrigo h2 {
        font-size: 24px; /*Título do texto*/
    } 

    #sobre-abrigo p {
        font-size: 16px; /*texto página*/
        margin-left: 10px; /*margem do texto*/
    }

    section {
        padding: 20px 0; /*espaçamento entre a imagem principal e o header */
    }

    section h2 {
        margin-bottom: 16px;  /* margem do título texto para o texto */
        margin-left: 10px;   /*margem do texto*/
        font-size: 20px; /* tamanho da fonte no destaque do mês */
        margin-bottom: 6px; /*margem do destaque do mes para as fotos*/
    }

    .lista-adocao li {
        list-style: none;  /*tira a marcação do li*/
        max-width: 100%;
        margin-bottom: 24px; /*margem da figura adoção para a proxima foto */
        margin-left: 10px;
    }

    .lista-adocao li h3 {
        margin: 3px 0; /*margim nome dos bixos */
        font-size: 18px; /*fonte do nome dos bixos */
    }

    .lista-adocao p {
        margin-bottom: 4px; /*margem da descrição para o botão */
    }

    button {
        width: 70%; /*proporção do tamanho do botão com a figura*/
        padding: 4px; /*largura do botão */
        font-size: 16px;
    }
   
    footer li {
        margin-left: 16px;
    }

    footer li img {
        height: 20px;
    }

    footer p {
        margin-left: 16px;
    }
   


