body {
    background: #2ACBEB;
    font-family: Roboto, sans;
}

.navbar {
    background: #EA2B7A;
}

.nome-loja {
    font-family: Sevillana;
    color: #fff;
    font-size: 6vh;

}

.sub-titulo {
    font-family: Sevillana;
    color: #000;
    font-size: 3vh;
}

.navbar-brand, .nav-link {
    color: #fff;
}

.carousel-item img {
    max-width: 60%;
    height: auto;
}

.sobre-loja {
    font-size: 2vh;
    font-size: italic;
    font-weight: bold;
}

.login-links li {
    list-style: none;
    display: inline;
}

.carousel-control-prev {
    left:15%;
    top:50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    left:70%;
    top:50%;
    transform: translateY(-50%);
}