* {  /*Reset das configurações */
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Agbalumo', sans-serif;
}

html {
    overflow-x: hidden; /* Esconder partes que passam da tela*/
    background: #B7C7FF; 
}

header {
    position: sticky; /* fixa o elemento na tela mesmo que a barra de rolagem abaixe*/
    top: 0; /* posicao do elemento*/
    left: 0; /* posicao do elemento*/
    z-index: 1; /* ordem dos elementos fixos */
}

header h1 {
    font-size: 4em;  /* Tamanho texto título*/
    font-family: "Agbalumo"; /* Fonte título*/
    margin-top: -18px;
}

header, footer {
    background-color: #1C3BAD;
    color: #fff;
    padding-top: 16px; /* tamanho distancia para o título*/
}

header > .container,
footer > .container {
    justify-content: space-between; /*separa os elementos no caso o hamburguer */
    align-items: center; /* faz o alinhamento */
}

.container {
    max-width: 1024px; /*largura maxima da página*/
    width: 100%; /*usar toda o espaço disponivel */
    margin: 0 auto; /*centralizar horizontalmente */
}

.hamburguer {
    width: 2.3em;
    cursor: pointer;
}

.hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

/* menu que abaixar */
nav {
    background-color: #4169FA;
    padding: 10px 10px; /* distancia cima e lado esquedo */
}

nav li {
    list-style: none; /*remove os marcadores */
    display: inline;
    margin-right: 24px; /*distancia entre os elementos*/
    font-size: 1em;
    text-transform: uppercase;
}

nav li a {
    color: #fff; /* cor */
    text-decoration: none; /* remoção das linhas */
}

section h2 {
    margin-top: 10px;
    margin-bottom: 12px;
    font-family: "Agbalumo";
    font-size: 34px;
}

section p {
    font-style: italic;    
}

/* Primeira sessão, sede e descrição */
.grid-sobre-abrigo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "grid-casa grid-texto";
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*grid casa */
.grid-casa {
    position: relative;
}

.grid-casa img {
    max-width: 100%;
    height: 85%;
    margin-top: 16px;
    margin-bottom: -16px;
}

/*grid-bixos*/
.grid-bixos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.bixo1, .bixo2, .bixo3, .bixo4, .bixo5 .bixo6 .bixo7 .bixo8 {
    position: relative;
}

.bixo1 h3, .bixo2 h3, .bixo3 h3, .bixo4 h3, .bixo5 h3, .bixo6 h3, .bixo7 h3, .bixo8 h3 {
    margin: 6px 0;
} /*nome do pet */

.bixo1 p, .bixo2 p, .bixo3 p, .bixo4 p, .bixo5 p, .bixo6 p, .bixo7 p, .bixo8 p {
    font-size: 16px;
    margin-top: -8px;
} /*raça */

.bixo1 img, .bixo2 img, .bixo3 img, .bixo4 img, .bixo5 img, .bixo6 img, .bixo7 img, .bixo8 img{
    max-width: 100%;
    height: 70%; /*define a proporção das figuras */
}

button {
    width: 50%;
    border: none;
    padding: 4px;
    background-color: #119750;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 22px;
}

footer p {
    font-size: 16px;
    margin-bottom: 8px;
}

.grid-cabecalho {
    display: grid;
    grid-template-columns: repeat(1,1fr)

}

.cabecalho {
    height: 90%;
}

.cabecalho img {
    height: 50%;
}


@media (min-width: 641px) and (max-width: 1023px) {
    header h1 {
        font-size: 6vh; 
    }

    header h1, footer h1 {
        margin-left: 30px;
    }
    
    .hamburguer {
        width: 3.5em;
    }

    .hamburguer span {
        width: 60%;
    }

    section h2 {
        margin-bottom: 0px;
    }

    
    .grid-sobre-abrigo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "grid-casa" 
            "grid-texto";
    }

    .grid-bixos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }

    .container {
        width: 90%
    }
}

@media (max-width: 640px) {
    header h1 {
        font-size: 4.5vh; 
    }

    header h1, footer h1 {
        margin-left: 10px;
    }
    
    nav li {
        font-size: 0.7em;
        margin-right: 2.5vh;;
    }

    .hamburguer {
        width: 3.5em;
    }

    .hamburguer span {
        width: 40%;
    }

    section h2 {
        margin-bottom: 0px;
        font-size: 1.8em;
    }

    .grid-sobre-abrigo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "grid-casa" 
            "grid-texto";
    }

    .grid-bixos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }

    .container {
        width: 90%
    }

    .cabecalho {
        height: 90%;
        margin-bottom: -4vh;
    }
    .cabecalho img {
        height: 60%;
    }

    footer p {
        margin-bottom: -1.5vh;
    }
}